.recipeCard {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Более мягкая тень */
  border-radius: 15px; /* Более округлые углы */
  background-color: #ffffff; /* Белый фон для карточек */
  transition: transform 0.3s, box-shadow 0.3s; /* Плавные эффекты */
}

.recipeCard:hover {
  transform: translateY(-5px); /* Поднимаем карточку при наведении */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.recipeName {
  font-size: 28px; /* Увеличиваем размер шрифта */
  margin-bottom: 15px;
  color: #007BFF; /* Цвет заголовка */
}


.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.recipeDetails {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipePrice {
  flex: 1;
  text-align: start;
  font-size: 16px; /* Увеличиваем размер шрифта для цены */
  color: #de454a; /* Цвет для цены */
}


.recipeInstructions {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa; /* Светлый фон для инструкций */
  color: #6c757d; /* Серый цвет для текста инструкций */
}

.recipeInstructions ol {
  margin-left: 20px; /* Отступ для списка */
}

.recipeInstructions li {
  margin: 10px 0;
}