.itemContainer {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  background-color: #ffffff; /* Белый фон для элементов */
  transition: transform 0.3s, box-shadow 0.6s; /* Плавные эффекты */
  
}

.itemContainer:hover {
  transform: translateY(-5px); /* Поднимаем элемент при наведении */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}


.itemImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.itemContent {
  text-align: center;
  padding: 15px; /* Добавляем отступы */
}
.itemName {
  font-size: 1.2em; /* Увеличиваем размер шрифта */
  font-weight: 600;
  color: #393e46;
}

.itemButton {
  background-color: #007BFF; /* Современный цвет кнопки */
  border: none;
  color: white;
  padding: 12px 20px; /* Увеличиваем отступы */
  font-size: 16px; /* Увеличиваем размер шрифта */
  font-weight: bold; /* Убираем лишний стиль */
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s; /* Плавный переход цвета */
}

.itemButton:hover {
  background-color: #0056b3; /* Темнее при наведении */
}

.buttonContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}