.itemContainer {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}
.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden; /* Обрезаем изображение по границам контейнера */
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Убираем лишние закругления */
}
.nameContainer {
  margin-left: 20px; /* Уменьшаем отступ для более компактного вида */
}
.name {
  font-size: 1.2em; /* Увеличиваем размер шрифта */
  font-weight: bold;
  color: #393e46;
}
.amount {
  font-weight: bold;
  margin-top: 5px; /* Уменьшаем отступ для более компактного вида */
  color: #6c757d; /* Серый цвет для количества */
}
